*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f6f8fb;
color:#222;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
padding:18px 60px;
background:#0f172a;
color:white;
position:sticky;
top:0;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

/* HERO */
.hero{
height:95vh;
background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url('https://images.unsplash.com/photo-1551288049-bebda4e38f71');
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
margin-bottom:30px;
}

/* BUTTON */
.btn{
background:#00c3ff;
padding:14px 30px;
border-radius:8px;
text-decoration:none;
color:black;
font-weight:600;
}

.btn.dark{
background:#0f172a;
color:white;
}

/* SECTIONS */
.section{
padding:100px 80px;
text-align:center;
}

.section.light{
background:white;
}

.text{
max-width:900px;
margin:auto;
margin-top:20px;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
margin-top:50px;
}

/* CARDS */
.card{
background:white;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
overflow:hidden;
opacity:0;
transform:translateY(40px);
transition:.6s;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card h3{
margin:20px 0 10px;
}

.card p{
padding:0 20px 20px;
}

.card.show{
opacity:1;
transform:translateY(0);
}

/* CTA */
.cta{
background:#0f172a;
color:white;
padding:100px;
text-align:center;
}

/* FOOTER */
footer{
background:#111;
color:#aaa;
padding:20px;
text-align:center;
}
